# Dependencies
node_modules/

# Build outputs
dist/
build/
coverage/

# History and temporary files
.history/

# Minified files
*.min.js
public/socket.io.min.js

# SDK files
ZKFinger SDK V10.0-Windows-Lite/
